{% extends 'base.html.twig' %}

{% block title %}Ma page D'acceuil{% endblock %}

{% block body %}
<h1 class="text-center">bienvenue sur mon site</h1>
    <div class="container p-1">
        <img class="d-block mx-auto" src="https://cdn.pixabay.com/photo/2021/07/10/15/45/online-shop-6401739_960_720.png" alt="image de ma boutique">
    </div>




{% endblock %}
